body {
  background-color: #050515;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 3vw;
}

.top {
  background-image: url("18263.jpg");
}

.middle {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.middle-text1 {
  text-align: center;
}

.middle-text2 {
  text-align: center;
}

.components {
  overflow: auto;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #ff0;
}

a:hover{
  color: #fff;
}

h1#html, #css, #js{
  text-decoration: underline;
}

.names{
  font-style: italic;
  color: #ff0;
}

.timer {
  margin-top: 0;
  text-align: right;
}

.bottom {
  width: 90%;
  margin-left: 5%;
}

footer {
  margin-top: 1vw;
  color: #fff;
}
